body.dark-mode {
  background-color: #111827;
  color: white;
}

.section.dark-mode  {
  background-color: #1f2937;
  box-shadow: 0 0.25rem 0.25rem #101010;
}

.activity-form.dark-mode input, .activity-form.dark-mode textarea {
  background-color: #384151;
  color: white;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.container {
  max-width: 350px;
  text-align: center;
}

.buttons.main {
  font-size: medium;
  display: flex;
  margin: 1rem;
}

.buttons.main div {
  margin: 1rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.buttons.side {
  position: absolute;
  display: flex;
  margin: 1rem;
  margin-right: 5%;
  right: 0;
}

.buttons.side i {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #ea5455;
  color: white;
  font-size: small;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fafafa;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.25rem rgb(230, 230, 230);
}

.title {
  font-size: large;
  margin-bottom: 1.5rem;
}

.activity-form {
  display: flex;
  flex-flow: column wrap;
  align-items: left;
}

.activity-form label {
  margin: 5px 10px 5px 0;
}

.activity-form input {
  vertical-align: middle;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #f3f4f6;
  border: none;
}

.activity-form textarea {
  margin: 0.25rem 0 3rem 0;
  height: 10rem;
  border: none;
  background-color: #f3f4f6;
  font-size: small;
  padding: 0.5rem;
}

.activity-form button {
  font-size: medium;
  font-weight: 500;
  padding: 0.25rem;
  background-color: #ea5455;
  color: white;
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
